html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: darkgray url("./images/bg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.quote-display {
  background-color: rgba(29, 29, 29, 0.5);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  max-width: 30em;
}

.quote-text {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.quote-author {
  text-align: right;
}

.quote-control {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.quote-new-button {
  text-transform: uppercase;
  cursor: pointer;
  min-width: 48px;
  min-height: 48px;
  padding: .5em;
  outline: none;
  margin-right: auto;
}

.quote-tweet-button {
  color: white;
}